<div class="product">
    <div class="product-gallery">
      <div class="product-item">
        <img src="assets/pro1.jpeg" alt="Product 1">
        <p>Philips Hue Smart Play Light Bar Base Kit, Black - White & Color Ambiance LED Color-Changing Light - 2 Pack - Requires Bridge - Control with App - Works with Alexa, Google Assistant and Apple HomeKit</p>
        <p>List Price: $159.99 <br>
           Price: $125.00 ($62.50 / Count) <br>
           You Save: $34.99 (22%)</p>
        <h2>Properties</h2>
        <ul>
          <li>Brand: Philips Hue</li>
          <li>Color: Black</li>
          <li>Material: Acrylic</li>
          <li>Style: 2-Pack with Plug</li>
          <li>Wattage: 85 watts</li>
        </ul>
      </div>
      <div class="product-item">
        <img src="assets/product2.webp" alt="Product 2">
        <p>Philips Hue White and Color Ambiance BR30 LED Smart Bulbs, 16 Million Colors (Hue Hub Required), Bluetooth Compatible, Compatible with Alexa, Google Assistant, and Apple HomeKit, E26 Base, 2-Pack.</p>
        <p>List Price: $99.99 <br>
           Price: $74.85 ($37.43 / Count) <br>
           You Save: $25.14 (25%)</p>
        <h2>Properties</h2>
        <ul>
          <li>Brand: Philips Hue</li>
          <li>Type: LED</li>
          <li>Special Feature: Dimmable, Color Changing</li>
          <li>Wattage: 85 watts</li>
          <li>Bulb Shape Size: BR30</li>
        </ul>
      </div>
      <div class="product-item">
        <img src="assets/pro2.png" alt="Product 3">
        <p>Philips Steam Iron GC1028/20 – 2000-watt, From World’s No.1 Ironing Brand*, Golden non-stick soleplate, Steam Rate of up to 25 g/min, Drip Stop Technology</p>
        <p>List Price: $100.99 <br>
           Price: $95.85 <br>
           You Save: $5.14 (5%)</p>
        <h2>Properties</h2>
        <ul>
          <li>Brand: PHILIPS</li>
          <li>Colour: Blue</li>
          <li>Product Dimensions: 29L x 13W Centimeters</li>
          <li>Recommended Uses For Product: Steam Iron</li>
          <li>Model Name: GC1028/20</li>
        </ul>
      </div>
    </div>
  </div>
  